<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Z邮</string>
		<key>code</key>
		<string>zmail</string>
		<key>imageStr</key>
		<string>icon_tongzhi</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的通知</string>
		<key>code</key>
		<string>no</string>
		<key>imageStr</key>
		<string>icon_我的通知</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新闻</string>
		<key>code</key>
		<string>ne</string>
		<key>imageStr</key>
		<string>新闻</string>
		<key>baseUrl</key>
		<string>/ne/newsMobile!index.action</string>
		<key>type</key>
		<string>其它应用</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周历</string>
		<key>code</key>
		<string>wc</string>
		<key>imageStr</key>
		<string>icon_周历</string>
		<key>baseUrl</key>
		<string>/wc/mobile/weekRecordData!index.action</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>查看课表</string>
		<key>code</key>
		<string>course</string>
		<key>imageStr</key>
		<string>icon_查看课表</string>
		<key>baseUrl</key>
		<string>/bd/mobile/viewCourseMobile!table.action</string>
		<key>type</key>
		<string>教务教学</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的工资</string>
		<key>code</key>
		<string>fi</string>
		<key>imageStr</key>
		<string>icon_wage</string>
		<key>baseUrl</key>
		<string>/fi/mobile/salaryData!index.action</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>公示</string>
		<key>code</key>
		<string>pu</string>
		<key>imageStr</key>
		<string>icon_公告</string>
		<key>baseUrl</key>
		<string>/pu/publicityMobile!index.action</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>作业</string>
		<key>code</key>
		<string>hw</string>
		<key>imageStr</key>
		<string>icon_homework</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>教务教学</string>
	</dict>
	<dict>
		<key>name</key>
		<string>校园公告</string>
		<key>code</key>
		<string>cb</string>
		<key>imageStr</key>
		<string>icon_校园公告</string>
		<key>baseUrl</key>
		<string>bd/webApp/campusBulletin</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>系统公告</string>
		<key>code</key>
		<string>an</string>
		<key>imageStr</key>
		<string>icon_系统公告</string>
		<key>baseUrl</key>
		<string>bd/webApp/announcement</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>订车管理</string>
		<key>code</key>
		<string>cm</string>
		<key>imageStr</key>
		<string>icon_订车管理</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工资</string>
		<key>code</key>
		<string>fi2</string>
		<key>imageStr</key>
		<string>icon_wage</string>
		<key>baseUrl</key>
		<string>bd/webApp/wagemanagement2</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>食堂订餐</string>
		<key>code</key>
		<string>cn</string>
		<key>imageStr</key>
		<string>icon_食堂订餐</string>
		<key>baseUrl</key>
		<string>/bd/webApp/canteenmanage</string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>资产管理</string>
		<key>code</key>
		<string>as</string>
		<key>imageStr</key>
		<string>icon_zichan</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教科研</string>
		<key>code</key>
		<string>tm</string>
		<key>imageStr</key>
		<string>icon_jiaokeyan</string>
		<key>type</key>
		<string>其它应用</string>
	</dict>
	<dict>
		<key>name</key>
		<string>调查问卷</string>
		<key>code</key>
		<string>qn</string>
		<key>imageStr</key>
		<string>icon_荣誉图标</string>
		<key>baseUrl</key>
		<string>/bd/webApp/questionnaire</string>
		<key>type</key>
		<string>德育管理</string>
	</dict>
	<dict>
		<key>name</key>
		<string>作业统计</string>
		<key>code</key>
		<string>il</string>
		<key>imageStr</key>
		<string>icon_作业统计</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>教务教学</string>
	</dict>
	<dict>
		<key>baseUrl</key>
		<string></string>
		<key>name</key>
		<string>青蚕学堂</string>
		<key>imageStr</key>
		<string>ic_xueletangg</string>
		<key>code</key>
		<string>xlt</string>
		<key>type</key>
		<string>其它应用</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学生选课</string>
		<key>code</key>
		<string>tc</string>
		<key>imageStr</key>
		<string>icon_tackcourse</string>
		<key>type</key>
		<string>教务教学</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成绩单</string>
		<key>code</key>
		<string>cj</string>
		<key>imageStr</key>
		<string>icon_score</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>教务教学</string>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤</string>
		<key>code</key>
		<string>ci</string>
		<key>imageStr</key>
		<string>icon_kaoqin</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>其它应用</string>
	</dict>
	<dict>
		<key>name</key>
		<string>易耗品管理</string>
		<key>code</key>
		<string>sm</string>
		<key>imageStr</key>
		<string>低值易耗品</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>易耗品管理</string>
		<key>code</key>
		<string>sr</string>
		<key>imageStr</key>
		<string>低值易耗品</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>报修</string>
		<key>code</key>
		<string>rm</string>
		<key>imageStr</key>
		<string>报修</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>项目</string>
		<key>code</key>
		<string>pm</string>
		<key>imageStr</key>
		<string></string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日志</string>
		<key>code</key>
		<string>lm</string>
		<key>imageStr</key>
		<string></string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>课堂考勤</string>
		<key>imageStr</key>
		<string>icon_kaoqin</string>
		<key>code</key>
		<string>ca</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
	<dict>
		<key>name</key>
		<string>消息</string>
		<key>imageStr</key>
		<string>icon_notice_ring</string>
		<key>code</key>
		<string>ar</string>
		<key>baseUrl</key>
		<string></string>
		<key>type</key>
		<string>校务办公</string>
	</dict>
</array>
</plist>
