<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
		<key>urlcar</key>
		<string>/cm/carMobile!getAssignCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>取消订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!cancelOrderCar.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>结束派车</string>
		<key>urlname</key>
		<string>/cm/carMobile!passOrderCar.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>继续派车</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
	<dict>
		<key>buttonTitle</key>
		<string>查看订车单</string>
		<key>urlname</key>
		<string>/cm/carMobile!getOrderCarInfo.action</string>
	</dict>
</array>
</plist>
